@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Importing Tailwind CSS base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Fonts */
@font-face {
	font-family: "Catamaran";
	src: url("/fonts/Catamaran-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

/* Applying global styles to root elements */
html,
body,
#root,
:root,
.app {
	width: 100dvw;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Plus Jakarta Sans";
}

.myfont {
	font-family: "Plus Jakarta Sans";
}

.heading {
	font-family: "Catamaran", sans-serif;
}

@media screen and (max-width: 768px) {
	.heading {
		font-weight: 400;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #bbb7c1;
	border-radius: 50rem;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
